.address {
    width: 100%;
    min-height: 100vh;
    padding: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    .title {
        width: 100%;
        height: 100px;
        padding: 16px;
        border: 1px solid #d3d3d3;
        display: flex;
        align-items: center;

        h2 {
            font-size: 2em;
            font-family: "Montserrat";
        }
    }

    .details {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 16px;
        padding: 16px;

        .left {
            width: 600px;
            display: flex;
            margin: 10px;
            padding: 16px;
            gap: 16px;
            flex-direction: column;
            align-items: flex-start;

            h2 {
                font-family: "Montserrat";
                font-size: 1em;
                border-bottom: 1px solid #4e4e4e;
                padding-bottom: 16px;
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;

                label {
                    font-size: 1em;
                    font-family: "Roboto";
                    color: #68686891;
                    font-weight: 600;
                }

                input {
                    width: 100%;
                    padding: 5px;
                    height: 40px;
                    border: 1px solid #c0c0c0;
                    background: #fff;
                    outline: none;
                }

            }

        }

        .right {
            margin: 10px;
            width: 400px;
            padding: 16px;
            border: 2px solid #a8a8a852;
            display: flex;
            gap: 20px;
            flex-direction: column;
            align-items: flex-start;

            h2 {
                margin: 16px 0;
                font-size: 1.2em;
                font-family: "Roboto";
            }

            .orderDetails {
                width: 100%;
                display: flex;
                gap: 16px;
                align-items: center;
                flex-direction: column;

                .row1,
                .row2,
                .row3,
                .row4 {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #4e4e4e57;
                }
                .row1{
                    h2{
                        font-family: "Roboto";
                        font-size: 1em;
                    }
                }
                .row2{
                    p{
                        font-size: 1em;
                        font-family: "Roboto";
                        font-weight: normal;
                    }
                }

                .row3{
                    p{
                        font-size: 1em;
                        font-family: "Roboto";
                        font-weight: 600;
                    }
                }
                .row4{
                    li{
                        font-size: 1em;
                        font-family: "Montserrat";
                        font-weight: 500;
                        padding: 10px;
                    }
                }
                .btnCommande{
                    margin: 16px 0;
                    width: 100%;
                    height: 40px;
                    border: none;
                    font-size: 1em;
                    text-transform: uppercase;
                    font-family: "Roboto";
                    font-weight: bold;
                    color: #fff;
                    background: rgb(255, 153, 0);
                      cursor: pointer;
                }
            }
        }
    }

}

@media (max-width:768px) {
    .address{
        width: 100%;
        height: auto;
    
    .details{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       .left,
       .right{
        width: 100%;
       }
    }
}
}