.carousel-container {
  position: relative;
  max-width: 1200px; /* Ajustez selon vos préférences */
  margin: auto;
  overflow: hidden;
}

/* Affiche les boutons lorsque la souris survole la zone du carrousel */
.carousel-container:hover .nav-button {
  opacity: 1;
}


.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 25%; /* Pour afficher quatre éléments à la fois */
  box-sizing: border-box;
  transition: opacity 0.5s ease;
}


.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.048);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}

.nav-button.prev {
  left: 10px;
}

.nav-button.next {
  right: 10px;
}



@media (max-width:768px) {
  .carousel-container{
    width: 100%;
    display: flex;
  }
  .carousel{
    width: 100%;
  }

  .carousel-item{
    width: 100%;
  }
}
