.Mycarousel-container {
    position: relative;
    max-width: 1200px; /* Ajustez selon vos préférences */
    margin:25px;
    overflow: hidden;
  }
  
  /* Affiche les boutons lorsque la souris survole la zone du carrousel */
  .Mycarousel-container:hover .nav-button {
    opacity: 1;
  }
  
  
  .Mycarousel-container .carousel {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .Mycarousel-container .carousel-item {
    min-width: 25%; /* Pour afficher quatre éléments à la fois */
    box-sizing: border-box;
    transition: opacity 0.5s ease;
  }
  
  
  .Mycarousel-container .nav-button {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transform: translateY(-50%);
    background-color: rgba(241, 241, 241, 0.397);
    box-shadow: 4px 4px 4px #2222221a;
    color: #000;
    font-size: large;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
  }
  
  .Mycarousel-container .nav-button.prev {
    left: 10px;
    &:hover{
        border: 1px solid #222222;
    }
    
  }
  
  .Mycarousel-container .nav-button.next {
    right: 10px;
    &:hover{
        border: 1px solid #222222;
    }
  }
  
  
  
  @media (max-width:768px) {
    .Mycarousel-container{
      width: 100%;
      display: flex;
    
    .carousel{
      width: 100%;
    }
  
    .carousel-item{
      width: 100%;
    }

}
  }
  