.reboure{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 555;

    .title{
        font-family: "Montserrat";
        font-size: 3em;
        color: #fff;
        z-index: 1;
    }

    .reboureContainer{
        width: 100%;
        display: flex;
        gap:1em ;
        align-items: center;
        margin: 20px 0;
        .card{
            width: 80px;
            height: 80px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 5px 5px 5px rgba(214, 214, 214, 0.671);
            background-color: red;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                font-family: "Montserrat";
                font-size: 2em;
                font-weight: bolder;
                color: white;
            }
            h1{
                font-family: "Roboto";
                font-size: 1em;
                font-weight: bold;
                color: white;
        }
    }
  }
}

@media (max-width: 768px) {
    .reboure{
        width: 100%;
        align-items: center;
        justify-content: center;
        .title{
            font-size: 1.4em;
        }
        .reboureContainer{
            width: 100%;
            align-items: center;
        justify-content: center;
            .card{
                width: 70px;
                height: 70px;
                p{
                    font-size: 1em;
                }
                h1{
                    font-size: 0.8em;
                }
            }
        }
    }
}